commands:
  # command: "response"
  # example
  # test: "response on test"
  
helper_ranges:
  # bottom_threshold: role_id
  # example
  # 5 : 973561566974840852

helper_ranking:
  # user_id: points
  # example
  # 958106852531527680: 20

helper_rewards:
  # emoji_name: reward
  # example
  # 6: 964533646746853457

messages_to_roles:
  # message_id: role_id
  # example
  # 964533624663855175: 958414973032349836

settings:
  # key: value
  # neccesary entries (just uncomment them)
  # bot_channel_id: 
  # project_channel_id: 
  # thread_channel_id:
  # role_add_emoji:
  # cli_channel_id:
  # technology_channel_id:
